<ion-view view-title="{{pageTitleText}}">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar toolAvatar">
                <h2>{{tool.title}}</h2>
                <p>{{titleSubText}}</p>
            </div>
            <div class="item item-body">
                <div ng-bind-html="tool.content">d</div>
            </div>
        </div>

        <div class="textContainer small">
          Open side menu to view other tools.
      </div>
    </ion-content>
</ion-view>
